<router-outlet></router-outlet>

<section>
  <form>
    <app-search-bar (searchChanged)="onSearch($event)"></app-search-bar>

    <button class="secondary" type="button" (click)="handleAddLocation()">Add Location</button>
  </form>

  <div class="controls">
    <div>
      <label>
        Select Mode:
        <input type="checkbox" (change)="handleCheckbox($event)" />
        {{ mode() === 'edit' ? 'Edit Mode' : 'Normal Mode' }}
      </label>
    </div>

    @if (mode() === 'edit') {
      <div class="action-toggle-group">
        <button
          type="button"
          class="delete-btn"
          [disabled]="selectionCount() === 0"
          (click)="deleteSelected()"
        >
          Delete ({{ selectionCount() }})
        </button>

        @if (canRestore()) {
          <button type="button" class="restore-btn" (click)="restoreSelected()">Restore</button>
        }
      </div>
    }
  </div>

  <!-- <section class="results">
    @for (housingLocation of locationsToDisplay(); track housingLocation.id) {
      <app-housing-location
        [housingLocation]="housingLocation"
        [mode]="mode()"
        [isSelected]="housingLocation.selected ?? false"
        (onLocationClick)="handleLocationClick($event)"
      />
    } @empty {
      <p>No locations found.</p>
    }
  </section> -->

  <section class="results">
  @if (isDesktop()) {
    <p-table [value]="locationsToDisplay()" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Units</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-location>
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.city }}</td>
          <td>{{ location.availableUnits }}</td>
          <td>
            <button class="primary" (click)="handleLocationClick(location)">Details</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    @for (housingLocation of locationsToDisplay(); track housingLocation.id) {
       <app-card-layout>
         <app-housing-location
           [housingLocation]="housingLocation"
           [mode]="mode()"
           [isSelected]="housingLocation.selected ?? false"
           (onLocationClick)="handleLocationClick($event)"
         />
       </app-card-layout>
    }
  }
</section>
<!--   
  <section class="results">
    @for (housingLocation of locationsToDisplay(); track housingLocation.id) {
      <app-card-layout>
        <app-housing-location
          [housingLocation]="housingLocation"
          [mode]="mode()"
          [isSelected]="housingLocation.selected ?? false"
          (onLocationClick)="handleLocationClick($event)"
        />
      </app-card-layout>
    } @empty {
      <p>No locations found.</p>
    }
  </section>
</section> -->
