<button class="container" (click)="handleClick($event)" [class.selected]="isSelected()">
  <section class="listing">
    <img
      class="listing-photo"
      [src]="housingLocation().photo"
      alt="Photo of {{ housingLocation().name }}"
    />
    <h2 class="listing-heading">{{ housingLocation().name }}</h2>
    <div>
      <p class="listing-location">{{ housingLocation().city }}, {{ housingLocation().state }}</p>
      @if (housingLocation().wifi) {
        <span class="wifi-badge">📶</span>
      }
    </div>
  </section>
</button>
 